.explorer__header {
  padding: 4px 0px;
  display: flex;
  gap: 8px;
}

.explorer__header button {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 4px;
}

.explorer__input__container,
.explorer__subheader {
  margin-left: 20px;
  padding: 4px 0px;
}
